<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container text-center">
    <div th:replace="fragments/header::header"></div>
    <h1>Where are from download the test?</h1>
    <form th:method="get" th:action="@{/test/collector}">
        <button class="btn btn-default" type="submit">FROM INTERNET</button>
    </form>
    <br>

    <p>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            From client file
        </button>
    </p>
    <div class="collapse.show" id="collapseExample">
        <div class="card card-body">
            <form method="POST" enctype="multipart/form-data" th:action="@{/test/file/load}">
                <div class="container text-center">
                    <input id="infile" type="file" class="form-control-file" name="document">
                    <button type="submit" class="btn btn-info">Get from client</button>
                </div>
                <!--                <input type="submit" value="Get from client"> to upload the file!-->
            </form>
        </div>
    </div>

</div>
</body>
</html>